.heading-primary {
	font-size: 2.6rem;
	font-weight: 600;
	line-height: 1.4;
	font-weight: 500;
}

.paragraph {
	color: var(--Very-Dark-Gray);
	margin: 2rem 0 3.5rem;
	font-size: 1.6rem;
}

.heading-secondary {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 500;
	font-size: 2rem;
}
